<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <div class="container">
  <a class="navbar-brand" routerLink="/" (click)="seleccionPage()"><img class="logo" src = "assets/img/logo-bn.png" /> Sistema de Viaticos</a>
  <button class="navbar-toggler hidden-sm-up" type="button" (click)="seleccionPage()" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" routerLinkActive="active" ngbDropdown>
          <a class="nav-link" (click)="seleccionPage('Solicitar viaticos')" routerLink="/solicitar-viaticos" >Solicitar Viaticos</a> 
      </li>
      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" (click)="seleccionPage('Asignar viaticos')" routerLink="/asignar-viaticos">Asignar Viaticos</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" (click)="seleccionPage('Rendir gastos')" routerLink="/rendir-gastos">Rendir Gastos</a> 
      </li>
    </ul>
  </div>
</div>
</nav>
