<div class="alert alert-light header-sesion bg-gris-light">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
         <div class="header-titulo-modulo">{{title}}</div> 
         <small class="header-sub-titulo-modulo" >{{subTitle}}</small>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 text-right">
            <div class="header-titulo-modulo">Jose Sanchez Soto</div> 
            <small class="header-sub-titulo-modulo" >Fecha: {{relojTime | amDateFormat:'DD/MM/YYYY hh:mm:ss A'}}</small>
        </div>
      </div>
</div>